<style>
	.recipeMain {
		text-align: center;

		.built-with {
			display: inline;
		}
		.angular-logo {
			max-width: 10rem;
			vertical-align: middle;
		}
		.kendo-ui-logo {
			max-width: 10rem;
			vertical-align: middle;
		}
	}
</style>

<div class="recipeMain container">
	<div class="row">
		<h1>
			..-recipe-..
		</h1>
	</div>
	<div class="row built-with">
		<span>Built with: </span>
		<span><img class="angular-logo" src="angular-logo.png" /></span>
		<span><img class="kendo-ui-logo" src="kendo-ui-logo.png" /></span>
	</div>
	<div
		class="controls"
	>			
		<div
			class="row text-start"
		>
			<div 
				class="row-insert"
			>
				<!--	
				<div
					class="col-sm-4"
				>
					<drop-down-tree
						:style="{ width: '300px', margin: '0 5px 10px 5px' }"
						:domain="domain"
						:path="'tag'"
						@itemSelected="handleItemSelected"
					/>
				</div>
				-->			
				<div
					class="col-sm-4 no-pad-left"
				>					
					<dropdown
						[domain]="domain"
						[path]="'difficulty'"						
						(dropDownSelect)="handleDropDownSelect($event)"
					/>					
				</div> 
				<div
					class="col-sm-4 no-pad-left"
				>
					<dropdown
						[domain]="domain"
						[path]="'duration'"						
						(dropDownSelect)="handleDropDownSelect($event)"
					/>
				</div>
			</div>
		</div>
	</div>
	<br /> 
	<div
		class="results"
	>
		<results></results>
		<!-- <results-table
			:domain="domain"
			:filterCriteria="filterCriteria"
			@gridRowClick="handleGridRowClick"
		/> -->
	</div>
	<!-- <div
		class="edit"
	>
		<div
			class="row"
		>
			<div
				class="col-sm-3"
			>
				<k-button
					@click="toggleNewEditModal"
				>
					New Recipe
				</k-button>
			</div>
			<div
				class="col-sm-3"
			>
				<k-button
					@click="toggleEditTagsModal"
				>
					Edit Tags
				</k-button>
			</div>
			<div
				class="col-sm-3"
			>
				<k-button
					@click="toggleEditIngredientsModal"
				>
					Edit Ingredients
				</k-button>
			</div>
			<div
				class="col-sm-3"
			>
				<k-button
					@click="toggleEditEquipmentsModal"
				>
					Edit Equipment
				</k-button>
			</div>
		</div>
	</div>
	<div
		class="modals"
	>
		<k-window
			v-if="showDisplayModal"
			:initial-width="650"
			:initial-height="700"				
			@close="toggleDisplayModal"
		>
			<display-recipe
				:domain="domain"
				:path="`recipe/${selectedRecipeId}`"
				@editRecipe="handleEditRecipeClick"
			/>
		</k-window>
		<k-window
			v-if="showNewEditModal"
			:initial-width="600"
			:initial-height="825"
			@close="toggleNewEditModal"
		>
			<new-edit-recipe
				:domain="domain"
				:recipeId="selectedRecipeId"
				@close="toggleNewEditModal"
			/>
		</k-window>
		<k-window
			v-if="showEditTagsModal"
			:initial-height="400"
			:initial-width="650"							
			@close="toggleEditTagsModal"
		>
			<edit-items
				:domain="domain"
				:path="'tag'"
			/>
		</k-window>
		<k-window
			v-if="showEditIngredientsModal"
			:initial-height="450"
			:initial-width="650"
			@close="toggleEditIngredientsModal"
		>
			<edit-items
				:domain="domain"
				:path="'ingredient'"
			/>
		</k-window>
		<k-window
			v-if="showEditEquipmentsModal"
			:initial-height="450"
			:initial-width="650"
			@close="toggleEditEquipmentsModal"
		>
			<edit-items
				:domain="domain"
				:path="'equipment'"
			/>
		</k-window>
	</div> -->
</div>
<router-outlet />
